*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* outline: dashed 1px #999; */
    transition: 1s ease-in-out;
}
:root{
    --nav-padding-gutter: 40px;
    --nav-height: 100px;
    --color-primary: #1c1b1b;
    --color-tertiary:#e6e6e6;
    --color-secondary:#f5f5f5;
    --grid-gap:24px;
}
section.filter{
    height: 4rem;
    background-color: blueviolet;
    font-size: larger;
}
section.container{
    height: 200rem;
    background-color: #ffffff;
}
footer{
    height: 25rem;
    background-color: #f8f5f5;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-right: 100px;
    flex-direction: column;
}
nav{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: var(--nav-height);
    padding: 0 var(--nav-padding-gutter);
    gap: var(--grid-gap);
    align-items: center;
}
.head1{
    text-decoration: solid;
    color: black;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    gap: var(--grid-gap);
}
.auth-menu{
    display: flex;
    justify-content: flex-end;
}
.buttons{
    display: flex;
    gap: var(--grid-gap);
}
.btn{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;
    border-radius: .5rem;
    text-decoration: solid;
    color: black;
}
.signup{
    background-color: var(--color-secondary);
}
.hire{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
/* hero section */
section.hero{
    height: 45rem;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 50px;
    position: relative;
    overflow: hidden;
}
.hero video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100vw;
    transform: translateY(-25%);
    opacity: 1;
}
.catagories{
    display: flex;
    gap: 2rem;
    padding-top: 100px;
    padding-bottom: 50px;
    .category{
        display:flex;
        align-items: center;
        padding: 1rem;
        height: 48px;
        border-radius:32px;
        color: var(--color-secondary);
        text-decoration: solid;
        font-size: larger;
    }
    .category:hover{
        background-color: var(--color-tertiary);
        color: var(--color-primary);
    }
}
.search-area{
    padding: 50px;
}
.trends-link{
    text-decoration: solid;
    color:black;
    align-items: center;
    padding: 1rem;
    border-radius: 32px;
    color: var(--color-secondary);
}
.trends-link:hover{
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}
.hero-content{
    text-align: center;
    padding: 35px;
    color: white;
    font-size: larger;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 55px;
}
.foot1{
    padding-bottom: 500px;
}
.foot1 img{
    padding-bottom: 20px;
}
.foot1 p{
    padding-bottom: 20px;
}
footer ul li{
    list-style: none;
    padding: 6px;
}
